body {
  background-color: black;
  color: white;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.player, .computer {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  justify-content: center;
  align-content: center;
  background-color: white;
  width: 50vw;
  height: 50vh;
  max-width: 300px;
  max-height: 300px;
}

.player > button, .computer > button {
  background-color: #007bff;
  padding: 20px;
  outline: none;
  border: 2px solid white;
  transition: all 0.3s ease-in-out;
  border-radius: 3.5px;
}

.player > button:active, .computer > button:active {

  transform: scale(0.9);
}

.player > button:hover, .computer > button:hover {
  background-color: cyan;
  border: 2px solid orangered;
}

.player > button.placed {

  background-color: green;
}

.computer > button.miss, .player > button.playerMiss {
  background-color: orangered;
}

.player > button.playerHit, .computer > button.hit {
  background-color: goldenrod;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
  }

  .player, .computer {
    width: 80vw;
    height: 80vw;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  .player > button, .computer > button {
    padding: 2px;
  }
}

.winPop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 15px;
  width: 400px;
  height: 200px;
  z-index: 2;
  position: fixed;
  background-color: rgba(0, 0, 3, 0.096);
  backdrop-filter: blur(4px);
  
  top: 0;
  left: 50%;
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0.1);
  transition: transform 0.4s, top 0.4s;
}

.winPopOpen {
   
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
